In [76]:
# import basic libraries
import pandas as pd
import numpy as np

In [77]:
# read the dataset
data = pd.read_csv('dataset.csv',nrows=10000)

In [78]:
# Delete unecessary columns 
data.drop('ID', axis=1, inplace=True)
data.drop("Description", axis=1, inplace=True)
data.drop("Number", axis=1, inplace=True)
data.drop("Zipcode", axis=1, inplace=True)
data.drop("Country", axis=1, inplace=True)
data.drop("Airport_Code", axis=1, inplace=True)
data.drop("Weather_Timestamp", axis=1, inplace=True)
data.drop("Pressure(in)", axis=1, inplace=True)
data.drop("Wind_Direction", axis=1, inplace=True)
data.drop("Wind_Speed(mph)", axis=1, inplace=True)
data.drop("Precipitation(in)", axis=1, inplace=True)
data.drop("Amenity", axis=1, inplace=True)
data.drop("Bump", axis=1, inplace=True)
data.drop("Crossing", axis=1, inplace=True)
data.drop("Give_Way", axis=1, inplace=True)
data.drop("Junction", axis=1, inplace=True)
data.drop("No_Exit", axis=1, inplace=True)
data.drop("Railway", axis=1, inplace=True)
data.drop("Roundabout", axis=1, inplace=True)
data.drop("Station", axis=1, inplace=True)
data.drop("Stop", axis=1, inplace=True)
data.drop("Traffic_Calming", axis=1, inplace=True)
data.drop("Traffic_Signal", axis=1, inplace=True)
data.drop("Turning_Loop", axis=1, inplace=True)

In [79]:
# Delete missing values
# We will remove every row that has at least one missing value (NaN)
data.dropna(axis=0,inplace=True)

# Delete duplicate rows
data.drop_duplicates(inplace = True)

In [80]:
# reindex the dataframe after deletion of rows
data.reset_index(drop=True, inplace=True)

In [81]:
# select the last 4 columns from the dataset
last_4_columns  = data.iloc[: , -4:]

# convert each record of these columns. Night == 0 and Day == 1
last_4_columns["Sunrise_Sunset"] = np.where(last_4_columns["Sunrise_Sunset"] == "Night", 0, 1)
last_4_columns["Civil_Twilight"] = np.where(last_4_columns["Civil_Twilight"] == "Night", 0, 1)
last_4_columns["Nautical_Twilight"] = np.where(last_4_columns["Nautical_Twilight"] == "Night", 0, 1)
last_4_columns["Astronomical_Twilight"] = np.where(last_4_columns["Astronomical_Twilight"] == "Night", 0, 1)

# find the mean of each row of the last_4_columns dataframe
last_4_columns = last_4_columns.mean(axis=1)

# convert the values of the last_4_rows dataframe into 0 and 1, based in a condition
# if the mean of a row is <0,5, then the value of this row will be 0, else it will be 1
for i in range (len(last_4_columns)):
    if last_4_columns[i] < 0.5:
        last_4_columns[i] = 0
    else:
        last_4_columns[i] = 1

In [82]:
# delete the last 4 columns of the dataset
# we do not need them, as we can combine them in a new column
data.drop('Sunrise_Sunset', axis=1, inplace=True)
data.drop('Civil_Twilight', axis=1, inplace=True)
data.drop('Nautical_Twilight', axis=1, inplace=True)
data.drop('Astronomical_Twilight', axis=1, inplace=True)

In [83]:
# add a new column (Day/Night) to the dataset.
# this new column will be the last_4_columns dataframe that we calculated earlier
data.insert(19,"Day/Night",last_4_columns)

data

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Street,Side,City,County,State,Timezone,Temperature(F),Wind_Chill(F),Humidity(%),Visibility(mi),Weather_Condition,Day/Night
0,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Outerbelt E,R,Dublin,Franklin,OH,US/Eastern,42.1,36.1,58.0,10.0,Light Rain,0.0
1,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,I-75 S,R,Cincinnati,Hamilton,OH,US/Eastern,37.0,29.8,93.0,10.0,Light Rain,1.0
2,2,2016-02-08 08:16:57,2016-02-08 14:16:57,39.063240,-84.032430,39.067310,-84.058510,1.427,State Route 32,R,Williamsburg,Clermont,OH,US/Eastern,35.6,29.2,100.0,10.0,Overcast,1.0
3,2,2016-02-08 11:51:46,2016-02-08 17:51:46,41.375310,-81.820170,41.367860,-81.821740,0.521,I-71 S,R,Cleveland,Cuyahoga,OH,US/Eastern,33.1,30.0,92.0,0.5,Snow,1.0
4,2,2016-02-08 14:19:57,2016-02-08 20:19:57,40.702247,-84.075887,40.699110,-84.084293,0.491,E Hanthorn Rd,R,Lima,Allen,OH,US/Eastern,39.0,31.8,70.0,10.0,Overcast,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343878,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.998880,-117.370940,0.543,Pomona Fwy E,R,Riverside,Riverside,CA,US/Pacific,86.0,86.0,40.0,10.0,Fair,1.0
2343879,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.765550,-117.153630,0.338,I-8 W,R,San Diego,San Diego,CA,US/Pacific,70.0,70.0,73.0,10.0,Fair,1.0
2343880,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.777400,-117.857270,0.561,Garden Grove Fwy,R,Orange,Orange,CA,US/Pacific,73.0,73.0,64.0,10.0,Partly Cloudy,1.0
2343881,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.983110,-118.395650,0.772,San Diego Fwy S,R,Culver City,Los Angeles,CA,US/Pacific,71.0,71.0,81.0,10.0,Fair,1.0
2343882,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.137360,-117.239340,0.537,CA-210 W,R,Highland,San Bernardino,CA,US/Pacific,79.0,79.0,47.0,7.0,Fair,1.0

In [84]:
# Normalization of the dataset