In [143]:
import pandas as pd
data = pd.read_csv('courses.csv')
data

,Unnamed: 0,Severity,Distance(mi),Side,State,State_Number,Timezone,Temperature(F),Humidity(%),Visibility(mi),Weather_Condition,Day_Night
0,0,2,0.222,0,OH,4,US/Eastern,43.0,51.0,10.0,4,1
1,1,2,0.030,0,OH,4,US/Eastern,40.0,60.0,10.0,4,1
2,2,2,0.201,0,OH,4,US/Eastern,40.0,60.0,10.0,4,0
3,3,2,0.093,0,OH,4,US/Eastern,43.0,60.0,10.0,3,1
4,4,3,0.205,0,OH,4,US/Eastern,42.0,62.0,10.0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7923,7923,2,0.237,0,CA,0,US/Pacific,63.0,65.0,10.0,3,1
7924,7924,2,0.024,0,CA,0,US/Pacific,63.0,65.0,10.0,3,1
7925,7925,2,0.348,0,CA,0,US/Pacific,68.0,52.0,10.0,3,1
7926,7926,2,0.696,0,CA,0,US/Pacific,65.0,61.0,10.0,3,1
7927,7927,2,0.532,0,CA,0,US/Pacific,63.0,72.0,10.0,3,1

In [144]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [145]:
data.drop("Side", axis=1, inplace=True)
data.drop("State", axis=1, inplace=True)
data.drop("State_Number", axis=1, inplace=True)
data.drop("Timezone", axis=1, inplace=True)
data.drop("Humidity(%)", axis=1, inplace=True)
data.drop("Distance(mi)", axis=1, inplace=True)

In [146]:
data.drop('Temperature(F)',axis=1,inplace=True)

In [147]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled = scaler.fit_transform(data)
scaled

array([[0.        , 1.        , 1.        , 1.        ],
       [0.        , 1.        , 1.        , 1.        ],
       [0.        , 1.        , 1.        , 0.        ],
       ...,
       [0.        , 1.        , 0.66666667, 1.        ],
       [0.        , 1.        , 0.66666667, 1.        ],
       [0.        , 1.        , 0.66666667, 1.        ]])

In [148]:
data

      Severity  Visibility(mi)  Weather_Condition  Day_Night
0            2            10.0                  4          1
1            2            10.0                  4          1
2            2            10.0                  4          0
3            2            10.0                  3          1
4            3            10.0                  4          1
...        ...             ...                ...        ...
7923         2            10.0                  3          1
7924         2            10.0                  3          1
7925         2            10.0                  3          1
7926         2            10.0                  3          1
7927         2            10.0                  3          1

[7928 rows x 4 columns]

In [149]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation,Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy

In [150]:
scaled = pd.DataFrame(scaled)
data

X = data.iloc[:, 2:4]
y = data.iloc[:,1]

X

      Weather_Condition  Day_Night
0                     4          1
1                     4          1
2                     4          0
3                     3          1
4                     4          1
...                 ...        ...
7923                  3          1
7924                  3          1
7925                  3          1
7926                  3          1
7927                  3          1

[7928 rows x 2 columns]

In [151]:
# define the keras model
model = Sequential()
model.add(Dense(5, input_shape=(2,), activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [152]:

# compile the keras model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [153]:
# fit the keras model on the dataset
model.fit(X, y, epochs=10, batch_size=10)

Epoch 1/10

ValueError: in user code:

    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\engine\training.py", line 1051, in train_function  *
        return step_function(self, iterator)
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\engine\training.py", line 1040, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\engine\training.py", line 1030, in run_step  **
        outputs = model.train_step(data)
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\engine\training.py", line 890, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\engine\training.py", line 948, in compute_loss
        return self.compiled_loss(
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\engine\compile_utils.py", line 201, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\losses.py", line 139, in __call__
        losses = call_fn(y_true, y_pred)
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\losses.py", line 243, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\losses.py", line 1787, in categorical_crossentropy
        return backend.categorical_crossentropy(
    File "c:\Users\strat\.conda\envs\Data_Analytics\lib\site-packages\keras\backend.py", line 5119, in categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)

    ValueError: Shapes (None, 1) and (None, 3) are incompatible

In [ ]:
# evaluate the keras model
_, accuracy = model.evaluate(X, y)
print('Accuracy: %.2f' % (accuracy*100))

248/248 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00
Accuracy: 0.00