In [1]:
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('courses.csv')

In [3]:
data.drop('Unnamed: 0', axis=1, inplace=True)
data.drop("Side", axis=1, inplace=True)
data.drop("State", axis=1, inplace=True)
data.drop("State_Number", axis=1, inplace=True)
data.drop("Timezone", axis=1, inplace=True)
data.drop("Humidity(%)", axis=1, inplace=True)
data.drop("Distance(mi)", axis=1, inplace=True)
data.drop('Temperature(F)',axis=1,inplace=True)

In [4]:
data

      Severity  Visibility(mi)  Weather_Condition  Day_Night
0            2            10.0                  4          1
1            2            10.0                  4          1
2            2            10.0                  4          0
3            2            10.0                  3          1
4            3            10.0                  4          1
...        ...             ...                ...        ...
7923         2            10.0                  3          1
7924         2            10.0                  3          1
7925         2            10.0                  3          1
7926         2            10.0                  3          1
7927         2            10.0                  3          1

[7928 rows x 4 columns]

In [5]:
X = data[['Visibility(mi)','Weather_Condition','Day_Night']]
Y = data['Severity']

print(X.shape)
print(Y.shape)

(7928, 3)
(7928,)

In [6]:
# Normalize features within range 0 (minimum) and 1 (maximum)
scaler = MinMaxScaler(feature_range=(0, 1))
X = scaler.fit_transform(X)
X = pd.DataFrame(X)
X

        0         1    2
0     1.0  1.000000  1.0
1     1.0  1.000000  1.0
2     1.0  1.000000  0.0
3     1.0  0.666667  1.0
4     1.0  1.000000  1.0
...   ...       ...  ...
7923  1.0  0.666667  1.0
7924  1.0  0.666667  1.0
7925  1.0  0.666667  1.0
7926  1.0  0.666667  1.0
7927  1.0  0.666667  1.0

[7928 rows x 3 columns]

In [7]:
# One - Hot encding the output varriable (label)
Y = pd.get_dummies(Y)
Y

      2  3  4
0     1  0  0
1     1  0  0
2     1  0  0
3     1  0  0
4     0  1  0
...  .. .. ..
7923  1  0  0
7924  1  0  0
7925  1  0  0
7926  1  0  0
7927  1  0  0

[7928 rows x 3 columns]

In [8]:
# For Keras, convert dataframe to array values (Inbuilt requirement of Keras)
X = X.values
Y = Y.values

In [9]:
# First define baseline model. Then use it in Keras Classifier for the training
def baseline_model():
    # Create model here
    model = Sequential()
    model.add(Dense(6, input_dim = 3, activation = 'relu')) # Rectified Linear Unit Activation Function
    model.add(Dense(12, activation = 'relu'))
    model.add(Dense(6,activation='relu'))
    model.add(Dense(3, activation = 'sigmoid')) # Softmax for multi-class classification
    
    # Compile model here
    model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
    return model

In [10]:
# Create Keras Classifier and use predefined baseline model
estimator = KerasClassifier(build_fn = baseline_model, epochs = 10, batch_size = 10, verbose = 2)
# Try different values for epoch and batch size

C:\Users\strat\AppData\Local\Temp\ipykernel_4144\1068698008.py:2: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  estimator = KerasClassifier(build_fn = baseline_model, epochs = 10, batch_size = 10, verbose = 2)

In [11]:
# KFold Cross Validation
kfold = KFold(n_splits = 5, shuffle = True, random_state = 10)
# Try different values of splits e.g., 10

In [12]:
# Object to describe the result
results = cross_val_score(estimator, X, Y, cv = kfold)
# Result
print("Result: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Epoch 1/10
635/635 - 2s - loss: 0.5785 - accuracy: 0.8546 - 2s/epoch - 3ms/step
Epoch 2/10
635/635 - 1s - loss: 0.4767 - accuracy: 0.8589 - 1s/epoch - 2ms/step
Epoch 3/10
635/635 - 1s - loss: 0.4630 - accuracy: 0.8589 - 1s/epoch - 2ms/step
Epoch 4/10
635/635 - 1s - loss: 0.4580 - accuracy: 0.8589 - 1s/epoch - 2ms/step
Epoch 5/10
635/635 - 1s - loss: 0.4575 - accuracy: 0.8589 - 907ms/epoch - 1ms/step
Epoch 6/10
635/635 - 1s - loss: 0.4574 - accuracy: 0.8589 - 906ms/epoch - 1ms/step
Epoch 7/10
635/635 - 1s - loss: 0.4566 - accuracy: 0.8589 - 995ms/epoch - 2ms/step
Epoch 8/10
635/635 - 1s - loss: 0.4566 - accuracy: 0.8589 - 1s/epoch - 2ms/step
Epoch 9/10
635/635 - 1s - loss: 0.4567 - accuracy: 0.8589 - 900ms/epoch - 1ms/step
Epoch 10/10
635/635 - 1s - loss: 0.4558 - accuracy: 0.8589 - 1s/epoch - 2ms/step
159/159 - 1s - loss: 0.4616 - accuracy: 0.8575 - 663ms/epoch - 4ms/step
Epoch 1/10
635/635 - 2s - loss: 0.4684 - accuracy: 0.8598 - 2s/epoch - 3ms/step
Epoch 2/10
635/635 - 1s - loss: 0.4555 - accuracy: 0.8598 - 1s/epoch - 2ms/step
Epoch 3/10
635/635 - 1s - loss: 0.4541 - accuracy: 0.8598 - 1s/epoch - 2ms/step
Epoch 4/10
635/635 - 1s - loss: 0.4541 - accuracy: 0.8598 - 1s/epoch - 2ms/step
Epoch 5/10
635/635 - 1s - loss: 0.4538 - accuracy: 0.8598 - 1s/epoch - 2ms/step
Epoch 6/10
635/635 - 1s - loss: 0.4534 - accuracy: 0.8598 - 954ms/epoch - 2ms/step
Epoch 7/10
635/635 - 1s - loss: 0.4539 - accuracy: 0.8598 - 1s/epoch - 2ms/step
Epoch 8/10
635/635 - 1s - loss: 0.4538 - accuracy: 0.8598 - 1s/epoch - 2ms/step
Epoch 9/10
635/635 - 1s - loss: 0.4535 - accuracy: 0.8598 - 982ms/epoch - 2ms/step
Epoch 10/10
635/635 - 1s - loss: 0.4543 - accuracy: 0.8598 - 1s/epoch - 2ms/step
159/159 - 0s - loss: 0.4743 - accuracy: 0.8537 - 452ms/epoch - 3ms/step
Epoch 1/10
635/635 - 2s - loss: 0.5396 - accuracy: 0.8420 - 2s/epoch - 4ms/step
Epoch 2/10
635/635 - 2s - loss: 0.4623 - accuracy: 0.8590 - 2s/epoch - 3ms/step
Epoch 3/10
635/635 - 2s - loss: 0.4608 - accuracy: 0.8590 - 2s/epoch - 3ms/step
Epoch 4/10
635/635 - 2s - loss: 0.4601 - accuracy: 0.8590 - 2s/epoch - 3ms/step
Epoch 5/10
635/635 - 2s - loss: 0.4599 - accuracy: 0.8590 - 2s/epoch - 3ms/step
Epoch 6/10
635/635 - 2s - loss: 0.4594 - accuracy: 0.8590 - 2s/epoch - 3ms/step
Epoch 7/10
635/635 - 2s - loss: 0.4594 - accuracy: 0.8590 - 2s/epoch - 2ms/step
Epoch 8/10
635/635 - 2s - loss: 0.4589 - accuracy: 0.8590 - 2s/epoch - 3ms/step
Epoch 9/10
635/635 - 2s - loss: 0.4596 - accuracy: 0.8590 - 2s/epoch - 3ms/step
Epoch 10/10
635/635 - 2s - loss: 0.4590 - accuracy: 0.8590 - 2s/epoch - 3ms/step
159/159 - 1s - loss: 0.4549 - accuracy: 0.8569 - 794ms/epoch - 5ms/step
Epoch 1/10
635/635 - 4s - loss: 0.6080 - accuracy: 0.8141 - 4s/epoch - 6ms/step
Epoch 2/10
635/635 - 1s - loss: 0.4616 - accuracy: 0.8580 - 1s/epoch - 2ms/step
Epoch 3/10
635/635 - 1s - loss: 0.4599 - accuracy: 0.8580 - 1s/epoch - 2ms/step
Epoch 4/10
635/635 - 1s - loss: 0.4592 - accuracy: 0.8580 - 1s/epoch - 2ms/step
Epoch 5/10
635/635 - 1s - loss: 0.4588 - accuracy: 0.8580 - 1s/epoch - 2ms/step
Epoch 6/10
635/635 - 1s - loss: 0.4585 - accuracy: 0.8580 - 950ms/epoch - 1ms/step
Epoch 7/10
635/635 - 1s - loss: 0.4583 - accuracy: 0.8580 - 905ms/epoch - 1ms/step
Epoch 8/10
635/635 - 1s - loss: 0.4585 - accuracy: 0.8580 - 896ms/epoch - 1ms/step
Epoch 9/10
635/635 - 1s - loss: 0.4585 - accuracy: 0.8580 - 900ms/epoch - 1ms/step
Epoch 10/10
635/635 - 1s - loss: 0.4581 - accuracy: 0.8580 - 888ms/epoch - 1ms/step
159/159 - 0s - loss: 0.4552 - accuracy: 0.8612 - 388ms/epoch - 2ms/step
Epoch 1/10
635/635 - 2s - loss: 0.4889 - accuracy: 0.8573 - 2s/epoch - 2ms/step
Epoch 2/10
635/635 - 1s - loss: 0.4645 - accuracy: 0.8573 - 933ms/epoch - 1ms/step
Epoch 3/10
635/635 - 1s - loss: 0.4630 - accuracy: 0.8573 - 910ms/epoch - 1ms/step
Epoch 4/10
635/635 - 1s - loss: 0.4621 - accuracy: 0.8573 - 915ms/epoch - 1ms/step
Epoch 5/10
635/635 - 1s - loss: 0.4623 - accuracy: 0.8573 - 960ms/epoch - 2ms/step
Epoch 6/10
635/635 - 1s - loss: 0.4617 - accuracy: 0.8573 - 916ms/epoch - 1ms/step
Epoch 7/10
635/635 - 1s - loss: 0.4620 - accuracy: 0.8573 - 913ms/epoch - 1ms/step
Epoch 8/10
635/635 - 1s - loss: 0.4619 - accuracy: 0.8573 - 908ms/epoch - 1ms/step
Epoch 9/10
635/635 - 1s - loss: 0.4618 - accuracy: 0.8573 - 958ms/epoch - 2ms/step
Epoch 10/10
635/635 - 1s - loss: 0.4615 - accuracy: 0.8573 - 920ms/epoch - 1ms/step
159/159 - 0s - loss: 0.4431 - accuracy: 0.8637 - 384ms/epoch - 2ms/step
Result: 85.86% (0.35%)